<div class="channel">
  <div id="channel-name">
    <% if user_signed_in? %> 
        <% if @allowed_to_follow == true && @test.blank? == true %>
          <%= render 'follow_channels/follow' %>
        <% elsif @allowed_to_follow == true && @test.blank? == false %>
          <%= render 'follow_channels/unfollow' %>
        <% else %>
          <!-- <div id="you-created-message">(your bibliography)</div>-->
        <% end %>
    <%end%>
    <%=channel.name%><span id="expand-symbol">&#11031;</span> </div>

<section id="channel-info-hide">

  <div id="channel-info-column-1">
     <% if @add_followers_to_view %>
        <span class="channel-info-headline">Followers</span>
        <% @chan_fols.each do |row| %>
          <span class="individual-follower yellow-hover"><%= link_to row.user.username, user_path(row.user) %></span>
         <% end %>
       <% end %>
     <div class="channel-privacy">
       <span class="channel-info-headline">Status</span>
       <p><%= channel.privacy %></p>
     </div>
     <% if user_signed_in? && current_user == @channel.user %>
        <div>
          <span class="channel-info-headline">Collaborators</span>
          <% @collaborators.each do |collab| %>
            <span class="individual-follower yellow-hover">
              <%= collab.user.username %>
              (<%= link_to 'delete', collab, method: :delete, data: { confirm: 'Are you sure?' } %>)
            </span>
          <% end %>
        </div>
     <%end%>
  </div>
  <div id="channel-info-column-2">
     <div class="channel-description">
       <span class="channel-info-headline">About</span>
       <p><%= channel.description %></p>
     </div>
     <div class="channel-author">
       <span class="channel-info-headline">Researched by</span>
       <span class="individual-follower yellow-hover"><%= link_to channel.user.username, channel.user %></span>
     </div>
     
     <% if user_signed_in? %>
     <% if current_user == @channel.user %>
       <%= render 'collab' %>
       <%= render 'destroychannel' %>
     <% end %>
  <% end %>

  </div>
</section>

<section id="all-channel-posts">
  	<%= render channel.posts.order("created_at DESC") %>
</section>

<div style="clear: both; height: 0; overflow: hidden;"> </div>

<div id="new-post-symbol">&#10010;</div>

<section id="create-new-post-form">
<% if user_signed_in? && @postable %>
  <%= render 'posts/form' %>
<% elsif !user_signed_in? && !@closed %>
  <%= link_to "Sign in", new_user_session_path %> to post!
<% end %>
</section>
