<br /><br />
<%= form_tag channel_path, :method => 'get', :id => "channels_search" do %>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="results"></div>
<% end %>
<% unless @channels_search.blank? %>
 <% @channels_search.each do |row|%>
   <h3> <%= link_to row.name %> </h3>
 <%end%>
 <%end%>
<% unless @users_search.blank? %>
 <% @users_search.each do |row|%>
   <h3> <%= link_to row.username, user_path(row) %> </h3>
 <%end%>
<%end %>
