<% if user_signed_in? %>
  <% if current_user == @channel.user %>
    <div id="destroy-button"><%= render 'destroychannel' %></div>
    <p />
    <%= render 'collab' %>
  <% end %>

<% end %>


<div class="channel">
  <div id="channel-name">
    <% if user_signed_in? %> 
        <% if @allowed_to_follow == true && @test.blank? == true %>
          <%= render 'follow_channels/follow' %>
        <% elsif @allowed_to_follow == true && @test.blank? == false %>
          <%= render 'follow_channels/unfollow' %>
        <% else %>
          <h3>You created this channel</h3>
        <% end %>
    <%end%>
    <%=channel.name%><span id="expand-symbol"> &#11031;</span> </div>
  <div class="channel-privacyi">This channel is: <%= channel.privacy %></div>
  <% if user_signed_in? && current_user == @channel.user %>
    <%= render 'privacyform' %>
  <% end %>
  <div class="channel-author">MADE BY: 
    <%= link_to channel.user.username, channel.user %></div>
  <div class="channel-description">DESCRIPTION: <%= channel.description %></div>

  <p />
  <div class="posts">
  	<%= render channel.posts.order("created_at DESC") %>
  </div>
<% if user_signed_in? && @postable %>
  <%= render 'posts/form' %>
<% elsif @closed %>
  This channel is closed.
<% elsif !user_signed_in? && !@closed %>
  <%= link_to "Sign in", new_user_session_path %> to post!
<% end %>
</div>
