<% if user_signed_in? %>

  <% if @allowed_to_follow == true && @test.blank? == true %>
    <%= render 'follow_channels/follow' %>
  <% elsif @allowed_to_follow == true && @test.blank? == false %>
    <%= render 'follow_channels/unfollow' %>
  <% else %>
    <h3>You created this channel</h3>
  <% end %>

  <% if current_user == @channel.user %>
    <%= render 'destroychannel' %>
    <p />
    <%= render 'collab' %>
  <% end %>

<% end %>

<%= render @channel %>

<br /><br />
<% if @add_followers_to_view %>
  <h2>List of channel followers</h2>
  <% @chan_fols.each do |row| %>
    <h3><%= link_to row.user.username, user_path(row.user) %></h3>
  <% end %>
<% end %>

