<div class="new-comment">
  Add a new comment:

  <%= form_for Comment.new do |f| %>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>
    <%= f.hidden_field :post_id, value: @post.id %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>