<br /><br />
<h1><%= who1 %> page</h1>
<br /><br />
<h2>Activity on <%= who2 %>  :</h2>
    <% @channels_to_show.each do |channel| %>
        <h3><%= link_to channel.name, channel_path(channel) %></h3>
      <% channel.posts.last(2).reverse.each do |post| %>
        <h3><%= post.img_url %></h3>
        <h3><%= image_tag post.postimage.url %></h3>
      <% end %>
    <% end %>
    <br /><br />
    <h2>Activity on channels <%= who3 %>:</h2>
    <% @array_of_channels_a_user_follows.each do |channel| %>
      <h3><%= link_to channel.name, channel_path(channel) %></h3>
       <% channel.posts.last(2).reverse.each do |post| %>
          <h3><%= post.img_url %></h3>
          <h3><%= image_tag post.postimage.url %></h3>
      <% end %>
    <% end %>
