<br /><br />
<h1><%= (current_user.id == @user.id) ? "Your":@user.username+"'s" %> page</h1>
<p>
  <%= image_tag @user.avatar.url %>
 <!--  <%= image_tag @user.avatar_from_url "http://www.lageneralins.com/insurance-blog/wp-content/uploads/2013/04/Man-Asking-Questions-300x300.png" %> -->
</p>
<br /><br />
<h2>Activity on <%= (current_user.id == @user.id) ? 'channels you created' : @user.username + "'s channels" %>  :</h2>
    <% @channels_to_show.each do |channel| %>
        <h3><%= link_to channel.name, channel_path(channel.id.to_i) %></h3>
      <% channel.posts.find(:all, :order => "id desc", :limit => 1).each do |post| %>
        <h3><%= post.img_url %></h3>
      <% end %>
    <% end %>
    <br /><br />
    <h2>Activity on channels <%= (current_user.id == @user.id) ? 'you follow' : @user.username + " follows" %>:</h2>
    <% @array_of_channels_a_user_follows.each do |channel| %>
      <h3><%= link_to channel.name, channel_path(channel.id.to_i) %></h3>
       <% channel.posts.find(:all, :order => "id desc", :limit => 1).each do |post| %>
          <h3><%= post.img_url %></h3>
      <% end %>
    <% end %>
    <br /><br />
    <%= render 'channels/form' %>

