<div id="whose-page"><div><%= who1 %></div></div>

<div class="set-of-six">
  <div class="individual-text yellow-hover">
    <div class="text-vert-center">
      POSTS IN ORDER
    </div>
  </div>
      <% @posts_in_order.each do |post| %>
        <div class="individual-image">
          <% pic_link = image_tag post.postimage.url %>
          <%= link_to pic_link, post %>
        </div>
      <% end %>
      <div style="clear: both;"></div>
</div>

  <!-- <h2>Activity on <%= who2 %>  :</h2> -->
  <% @channels_to_show.each do |channel| %>
    <div class="set-of-six" id="<%= channel.id.to_i %>">
        <div class="individual-text yellow-hover">
          <div class="text-vert-center">
            <%= link_to channel.name, channel_path(channel) %>
          </div>
        </div>
        <% channel.posts.last(5).reverse.each do |post| %>
          <div class="individual-image">
              <% pic_link = image_tag post.postimage.url %>
              <%= link_to pic_link, post %>
          </div>
        <% end %>
        <div class="add-images-here"></div>
        <div class="add-link-here"></div>
        <%= link_to "add 6", addition_channel_path(channel.id, channel_count: 5), remote: true, :class => "add_posts" %>
        <div style="clear: both;"></div>
    </div>
    <% end %>


  <!-- <h2>Activity on channels <%= who3 %>:</h2> -->
    <% @array_of_channels_a_user_follows.each do |channel| %>
      <div class="set-of-six">
        <div class="individual-text yellow-hover">
          <div class="text-vert-center">
            <%= link_to channel.name, channel_path(channel) %>
          </div>
        </div>
        <% channel.posts.last(5).reverse.each do |post| %>
          <div class="individual-image">
            <% pic_link = image_tag post.postimage.url %>
            <%= link_to pic_link, post %>
          </div>
        <% end %>
        <div style="clear: both;"></div>
      </div>
    <% end %>
