<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if false %>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h1>Channels</h1>
<% @user.channels.each do |channel| %>
  <h3><%= link_to channel.name, channel_path(channel.id.to_i) %></h3>
  <% channel.posts.find(:all, :order => "id desc", :limit => 1).each do |post| %>
    <h3><%= post.img_url %></h3>
  <% end %>
<% end %>
