<br /><br />
    <h1>Activity on channels you created:</h1>
    <% @user.channels.each do |channel| %>
        <h3><%= link_to channel.name, channel_path(channel.id.to_i) %></h3>
      <% channel.posts.find(:all, :order => "id desc", :limit => 1).each do |post| %>
          <h3><%= post.img_url %></h3>
      <% end %>
    <% end %>
    <br /><br />
    <h1>Activity on channels you follow:</h1>
    <% @array_of_channels_a_user_follows.each do |channel| %>
      <h3><%= link_to channel.name, channel_path(channel.id.to_i) %></h3>
       <% channel.posts.find(:all, :order => "id desc", :limit => 1).each do |post| %>
          <h3><%= post.img_url %></h3>
      <% end %>
    <% end %>
    <br /><br />
    <%= render 'channels/form' %>
