<div class="post">
  <div class="post-imgurl">URL: <%= post.img_url %></div>
  <div class="post-caption">CAPTION: <%= link_to post.caption, post %></div>
  <div class="post-channel">Channel ID: <%= link_to post.channel.name, post.channel %></div>

<div>----------END OF POST-----------</div>
  <div class="new-comment">
    Add a new comment:
    <%= form_for Comment.new do |f| %>
      <p><%= f.text_area :content %></p>
      <p><%= f.hidden_field :post_id, value: post.id %></p>
      <p><%= f.submit %></p>
    <% end %>
  </div>
  <div class="comments">
    <%= render post.comments %>
  </div>

<div>-------------END OF POST FINAL----------</div>

</div>
