<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", "token-input-facebook", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "jquery.tokeninput", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
  	<% if user_signed_in? %>
  	  Signed in as <%= link_to current_user.username, current_user %> with email: <%= link_to current_user.email, edit_user_registration_path %>. Not you?
  	  <%= link_to "Sign out", destroy_user_session_path %>
  	<% else %>
  	  <%= link_to "Sign in", new_user_session_path %> or 
  	  <%= link_to "sign up", new_user_registration_path %>
      <div><%= render 'devise/sessions/form' %></div>
  	<% end %>
<% flash.each do |name, msg| %>		
	<%= content_tag :div, msg, :id => "flash_#{name}"%>
<% end %>
<%= render "users/usersearch" %>
<%= yield %>

</body>
</html>
