<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", "token-input-facebook", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "jquery.tokeninput", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="application-nav">
  <ul id="application-nav-list-left">
    <li id="application-channel-add"><span class="underline-hover">New Topic</span></li>
    <li id="application-search-nav-button" class="border-maker"><%= render 'users/usersearch' %></li>
  </ul>
  <div id="application-nav-logotype">
    BIBLIOGRAPHY
  </div>
  <ul id="application-nav-list-right">
  	 <% if user_signed_in? %>
       <li><%= link_to "Me", current_user, :class => "nav-user"%></li>
       <li class="border-maker"><%= link_to "Logout", destroy_user_session_path , :class => "nav-user"%></li>
  	 <% else %>
       <%= link_to "Sign in", new_user_session_path %> or 
  	    <%= link_to "sign up", new_user_registration_path %>
        <div><%= render 'devise/sessions/form' %></div>
  	 <% end %>
     <% flash.each do |name, msg| %>		
	      <%= content_tag :div, msg, :id => "flash_#{name}"%>
     <% end %>
  </ul>
</nav>
<section id="application-search-nav">
   <%= render "channels/form" %>
</section>

   <%= yield %>
<div id="jump-symbol">&#9650;</div>
</body>
</html>
